body {
    background-image: url('https://i.pngimg.me/thumb/f/720/42c551605a4c45399bd2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    
     }
     
  


h1 {
    font-family: 'Helvetica', sans-serif;
    color: #333; /* Dark gray color */
    text-align: center;
    text-transform: uppercase;
    font-weight: bold; 
}



h2 {
    text-align:center;
    color: #007bff;
    text-align: center;
}

p {
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
}
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .column {
    flex: 0 0 calc(25% - 50px); /* Adjust the width of each column as needed */
    margin: 10px;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow:  5px 10px rgb(218, 190, 7);
    
  }
  
  .card h3 {
    margin: 10px;
  }
  
  .card p {
    margin: 5px 10px;
  }
  btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  .btn:hover {
    background-color: RoyalBlue;
  }
  /* body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/021/565/002/large_2x/asian-teen-using-computer-tablet-with-learning-with-doodle-education-and-online-e-learning-on-background-notification-social-multimedia-icons-internet-connection-application-digital-network-photo.jpg');
  } */